#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";

        print_screen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <25 26 27>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <18 19>;
        };

        minus2 {
            bindings = <&kp MINUS>;
            key-positions = <17 16>;
        };
    };

    macros {
        Left_Workspace: Left_Workspace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_META &kt LCTRL &kt LEFT>;
            label = "LEFT_WORKSPACE";
        };

        Right_Workspace: Right_Workspace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp LEFT_ALT &kp DOWN>, <&macro_tap>;

            label = "RIGHT_WORKSPACE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R  &kp T      &kp Y         &kp U  &kp I          &kp O    &kp P     &kp BACKSPACE
&kp LCTRL       &kp A  &kp S  &kp D         &kp F  &kp G      &kp H         &kp J  &kp K          &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp V  &kp B      &kp N         &kp M  &kp COMMA      &kp DOT  &kp FSLH  &kp RSHFT
                              &kp LEFT_WIN  &mo 1  &kp SPACE  &kp KP_ENTER  &mo 2  &kp RIGHT_ALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&kp ESCAPE  &none      &Left_Workspace  &Right_Workspace  &none  &none   &kp CARET      &kp AMPS  &kp ASTRK  &kp N7  &kp N8  &kp N9
&trans      &kp LC(A)  &none            &none             &none  &none   &kp BACKSLASH  &none     &none      &kp N4  &kp N5  &kp N6
&trans      &none      &none            &none             &none  &none   &none          &none     &none      &kp N1  &kp N2  &kp N3
                                        &trans            &none  &trans  &trans         &mo 3     &kp N0
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&kp ESCAPE  &none  &none  &none   &none  &none   &none  &none     &kp UP_ARROW  &none            &none  &kp DELETE
&none       &none  &none  &none   &none  &none   &none  &kp LEFT  &kp DOWN      &kp RIGHT_ARROW  &none  &none
&trans      &none  &none  &none   &none  &none   &none  &none     &none         &none            &none  &none
                          &trans  &mo 3  &trans  &mo 3  &none     &none
            >;
        };

        adjust_layer {
            display-name = "Adjust";
            bindings = <
&none   &none   &none   &none    &bootloader  &sys_reset  &none   &none   &none  &none  &none  &none
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5       &kp F6      &none   &none   &none  &none  &none  &none
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11      &kp F12     &none   &none   &none  &none  &none  &none
                        &none    &trans       &trans      &trans  &trans  &none
            >;
        };
    };
};
