#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";

        print_screen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <25 26 27>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <18 19>;
        };

        minus2 {
            bindings = <&kp MINUS>;
            key-positions = <17 16>;
        };

        underscore {
            bindings = <&kp UNDER>;
            key-positions = <16 15>;
        };

        Backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <33 34>;
        };
    };

    macros {
        Write_Quit: Task_View {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp COLON &kp W &kp Q>;
            label = "TASK_VIEW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R  &kp T      &kp Y         &kp U  &kp I          &kp O    &kp P     &kp BACKSPACE
&kp LCTRL       &kp A  &kp S  &kp D         &kp F  &kp G      &kp H         &kp J  &kp K          &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp V  &kp B      &kp N         &kp M  &kp COMMA      &kp DOT  &kp FSLH  &kp RSHFT
                              &kp LEFT_WIN  &mo 1  &kp SPACE  &kp KP_ENTER  &mo 2  &kp RIGHT_ALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&kp ESCAPE  &kp DELETE  &kp LG(PAGE_DOWN)  &kp LG(PAGE_UP)  &kp LA(TAB)  &kp LG(W)      &kp GRAVE  &kp UP_ARROW  &none      &kp N1  &kp N2  &kp NUMBER_3
&trans      &kp LC(A)   &kp PRINTSCREEN    &Write_Quit      &kp LC(S)    &kp LS(LC(L))  &kp LEFT   &kp DOWN      &kp RIGHT  &kp N4  &kp N5  &kp N6
&trans      &none       &none              &kp LC(C)        &kp LC(V)    &none          &none      &none         &none      &kp N7  &kp N8  &kp N9
                                           &none            &none        &trans         &trans     &mo 3         &kp N0
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&kp ESCAPE  &none  &none  &kp PIPE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none  &none  &kp CAPSLOCK  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp DELETE
&none       &none  &none  &none     &kp LEFT_BRACE        &kp RIGHT_BRACE        &none  &none  &none         &none                 &none                 &none
&none       &none  &none  &none     &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none  &none  &none         &none                 &none                 &none
                          &none     &mo 3                 &trans                 &mo 3  &none  &none
            >;
        };

        adjust_layer {
            display-name = "Adjust";
            bindings = <
&kp C_SLEEP  &none   &none   &none    &bootloader  &sys_reset  &none   &none   &none  &kp C_MUTE      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
&kp F1       &kp F2  &kp F3  &kp F4   &kp F5       &kp F6      &none   &none   &none  &kp C_PREVIOUS  &kp C_PLAY_PAUSE   &kp C_NEXT
&kp F7       &kp F8  &kp F9  &kp F10  &kp F11      &kp F12     &none   &none   &none  &kp RIGHT_META  &kp RIGHT_SHIFT    &kp RCTRL
                             &none    &trans       &trans      &trans  &trans  &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
